@{
   
}
<div class="text-center" style="margin-top:40px">
    <div class="container mt-5">
        <div style="background-color: #FFB6C1;color:brown " class="alert" role="alert">
            <h4 class="alert-heading"><i class="fa-solid fa-triangle-exclamation"></i> Lỗi truy cập tài khoản!</h4>
            <p class="mb-0">Tài khoản của bạn không được cấp quyền truy cập vào trang này.</p>
            <hr>
            <p class="mb-0">Vui lòng <a href="~/Home" style="color:lightslategray"><b>quay lại</b></a> trang chủ </p>
        </div>

    </div>

</div>
